{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="This Project is made by BSCS Students from University of Gujrat.">
  <meta name="author" content="Ammar Asif | Shizza Fatimah | Muhammad Hanzla">

  <title>Illusion Of Wearing - A University Final Year Project by Manipulators</title>
  <link rel="icon" href="{% static  'project/img/ico.gif' %}" type="image/gif" sizes="16x16">

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="{% static  'project/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> 

  <!-- Custom Fonts -->
  <link href="{% static  'project/vendor/fontawesome-free/css/all.min.css' %} " rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static  'project/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  
  <!-- Custom CSS -->
  <link href="{% static  'project/css/stylish-portfolio.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static  'project/css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static  'project/css/font-awesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static  'project/css/elegant-icons.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static  'project/css/jquery-ui.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static  'project/css/magnific-popup.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static  'project/css/owl.carousel.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static  'project/css/slicknav.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static  'project/css/style.css' %}" type="text/css">
</head>

<body id="page-top">
<!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Illusion Of Wearing</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="manual">User Manual</a>
      </li>
    </ul>
  </nav>
  <!-- Navigation -->
    <!-- User Manual -->
    <div class="aboutus-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                <div class="col-md-4 col-sm-6 col-xs-12">    
                    <div class="aboutus-image float-left hidden-sm"><img src="{% static  'project/img/manual.jpg' %}" alt=""></div>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="aboutus-content ">
                            <h1>Steps <span>To Follow</span></h1>
                            <h4>Simple to use</h4>
                            <p> Usage of Illusion of Wearing is just a piece of cake any one can simply use the website. It user friendly website having no any difficult use.</p>
                            <ol class="orlist"> 
                                <li>First of all choose the dress that you want to try</li>
                                <li>Press the button having lable 'Try It' below that dress </li>
                                <li>There will open up a new window with webcam you just need to stand in front of the cam on fixed position dress will set itself with accordance of your body.</li>
                                <li>To close that window simple press the key 'q' it will close by itself.</li>
                            <ol>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="manualimg">
        <img src="{% static  'project/img/User manual.png' %}" alt="" class="manualimage"/>
    </div>
<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="{% static  'project/img/banner/banner-1.jpg' %}" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>DRESS-UP SMARTLY</span>
                            <h1>Illusion Of Wearing</h1>
                            <a href="#productsec">Check It Out</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>Computer Science Student's</span>
                            <h1>Final Year Project</h1>
                            <a href="#productsec">Check It Out</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>Supervised By</span>
                            <h1>Sir Ikram Ul Haq</h1>
                            <a href="#productsec">Check It Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
    <!-- Team Section Start -->
    <section id="team">
        <div class="container">
            <div class="section-header">
                <h3>Group Members</h3>
                <p>Meet our team</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="member"> <img src="{% static  'project/img/team/ammar.jpg' %}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Ammar Asif</h4> 
                                <div class="social">  <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section End -->
    <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Reserved By Manipulators.</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

 <!-- Bootstrap core JavaScript -->
  <script src="{% static  'project/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static  'project/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static  'project/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static  'project/js/stylish-portfolio.min.js' %}"></script>

  <script src="{% static  'project/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static  'project/js/bootstrap.min.js' %}"></script>
  <script src="{% static  'project/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static  'project/js/jquery-ui.min.js' %}"></script>
  <script src="{% static  'project/js/mixitup.min.js' %}"></script>
  <script src="{% static  'project/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static  'project/js/jquery.slicknav.js' %}"></script>
  <script src="{% static  'project/js/owl.carousel.min.js' %}"></script>
  <script src="{% static  'project/js/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static  'project/js/main.js' %}"></script>

</body>
</html>
